.space {
	margin-top: 10px;
}

.fixed-panel {
	/*width: 100%; */	
	background-color: #D3D3D3; /*LightGray color*/	
	position: fixed;
	transform: translateX(10%, 10%);
	z-index: 5;
}

.fixed-panel-body {
	border: hidden;	
	width: 10px;
}

.fixed-panel-button {
	width: 30px;	
}

.question-number {
	border: hidden;
	background-color: #abc123;
	width: 9%;
	line-height: 35px; 
	text-align: center;
	font-size: 1.5em;
	margin: 0; 
	padding: 0; 
	border: 0;
}

.margin-question {
	position: absolute;
	top: 1.5em;
	left: -5.4em;
	z-index: 4;
}

.btn.nohover:hover {
    color: white;
}

.btn-default:hover {
	background-color: yellow;
	background-position: 60px 60px;
}

.button-green {
	background-color: green !important;
	color: white;
}

.button-red {
	background-color: red !important;
	color: white;
}


.panel-transparent {
    background: none;
    background: rgba(179, 179, 0, 0.2)!important;
}

.font-size {
	font-size: 20px;
}

.final_result_score_header {
	line-height: 100%;
	color: #66b3ad;
	font-family: "pbSemiBold",Helvetica,Arial,sans-serif;
	padding: 10px 10px 10px 20px;
	font-size: 1.6em;
}

.final_result_image_wrapper {
	position: relative;
}

.results_image {
	width: 100%;
	display: block;
}

.final_result_score {
	width: 100%;
	height: 13%;
	background-color: #66b3ad;
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 50%;
	box-sizing: border-box;
}

#final_result_score_text {
	background-color: #66b3ad;
	margin: auto;
	width: 1.2em;
	height: 1.2em;
	text-align: center;
	line-height: 1.2em;
	font-size: 5em;
	color: #fff;
	position: absolute;
	text-shadow: 0 8px 0 rgba(0,0,0,.75);
	left: 50%;
	margin-left: -.6em;
	bottom: 0;
	border-radius: 100%;
}

#final_result_score_length {
	font-size: 1.4em;
	font-family: "pbRegular",Helvetica,Arial,sans-serif;
	color: #294643;
	padding-left: 69px;
}

.clear {
	clear: both;
}
