<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <!-- Meta-Information -->
    <title>Quiz</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Event Core Cru Inc.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Vendor: Bootstrap Stylesheets http://getbootstrap.com -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Our Website CSS Styles -->
    <link rel="stylesheet" href="css/main.css">

</head>
<body ng-app="quizApp">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Our Website Content Goes Here -->
<div class="container" ng-controller="QuizController as model">
    <div class="col-md-6 col-md-offset-3 main">
        <div id="introduction">
            <h1>Quiz: Do you know the old names of modern cities and states?</h1>

            <p>The world is constantly changing, and nothing remains the same. Lots of things have happened in the
                course of
                time! That’s why even though we have seen other countries in movies and have read about them in books
                and on
                the Internet, their previous names often remain a mystery to us.</p>
        </div>
        <!--scroebar-->
        <div id="scorebar_inner">
            <div class="panel panel-body fixed-panel">
                <div id="score_container">
                    <img id="score_container_image" src="//cdn.playbuzz.com/content/images/final_screen_icon.png"
                         width="24">
                    <span ng-repeat="question in model.questions" class="fixed-panel-body">
					    <button class="fixed-panel-button"
                                ng-class="{'button-green': (question.correct && question.locked),
                                'button-red': (!question.correct && question.locked)}"> {{question.questionNumber}}</button>
				    </span>
                </div>
            </div>
        </div>
        <!--end of scroebar-->
        <!--questions-->
        <div id="game">
            <div class="panel-body" ng-repeat="question in model.questions">
                <div id="question">
                    <p class="question-number">{{ question.questionNumber}}</p>
                    <div id="mycarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="question active">
                                <img ng-src="{{ question.cover }}" alt="Question #{{ question.questionNumber}} image"
                                     class="img-responsive">
                                <div class="carousel-caption">
                                    <p class="margin-question btn nohover font-size panel-transparent">{{
                                        question.question}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="answers">
                    <div class="space">
                        <button type="button"
                                ng-click="model.checkAnswer($index, question.option1)"
                                ng-class="{'button-green': (question.option1 == question.answer && question.locked),
                                'button-red': (question.option1 != question.answer && question.locked && question.myAns == question.option1 )}"
                                ng-disabled="question.locked"
                                class="col-md-4  text-center btn btn-default btn-lg">
                            {{question.option1 }}
                        </button>
                        <button type="button"
                                ng-click="model.checkAnswer($index, question.option2)"
                                ng-class="{'button-green': (question.option2 == question.answer && question.locked),
                                'button-red': (question.option2 != question.answer && question.locked && question.myAns == question.option2 )}"
                                ng-disabled="question.locked"
                                class="col-md-4  text-center btn btn-default btn-lg">
                            {{question.option2 }}
                        </button>
                        <button type="button"
                                ng-click="model.checkAnswer($index, question.option3)"
                                ng-class="{'button-green': (question.option3 == question.answer && question.locked),
                                'button-red': (question.option3 != question.answer && question.locked && question.myAns == question.option3 )}"
                                ng-disabled="question.locked"
                                class="col-md-4  text-center btn btn-default btn-lg">
                            {{question.option3 }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--end of questions-->

        <div class="final_result_score_wrapper" id="score" ng-if="model.result.completed">

            <!--header-->
            <div class="final_result_score_header">{{model.result.msg}}</div>

            <!--Image Container-->
            <div class="final_result_image_wrapper">
                <!--Image-->
                <div class="final_result_image">
                    <img class="results_image" src="http://cdn.playbuzz.com/cdn/25a9ee80-4bd3-44c1-8356-5e22bf7e0397/f93fedd3-7d04-4fd5-8c21-393863e854e7.jpg" alt="{{model.result.msg}}" style="height: 481px;">
                </div>
                <!--score-->
                <div class="final_result_score">
                    <div class="final_result_score_inner">
                        <div id="final_result_score_text">{{model.result.correct}}</div>
                        <div id="final_result_score_length">Right!</div>
                        <div class="clear"></div>
                    </div>
                </div>

            </div>


        </div>
        <div ng-if="model.result.completed">
            <button class="btn btn-info pull-right" ng-click="model.restart()">Try Again</button>
        </div>


    </div>
</div>

<!-- Vendor: Javascripts -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!-- Vendor: Angular, followed by our custom Javascripts -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.min.js"></script>

<!-- Our Website Javascripts -->
<script src="js/app.js"></script>
<script src="js/controllers/QuizController.js"></script>
</body>
</html>    
